extends ../layout/main
block content
  p  1Lorem ipsum dolor sit amet, consectetur adipisicing.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing

  
    
  
  
    
    
    
    
    
    


  
  

  
  
    
    
  
    
  
  
    
  
  
