doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Document-main
	link(rel="stylesheet", href="../static/style/style.scss")
body
include ../modules/header/header
	div 11 Lorem ipsum dolor sit amet, consectetur.
		block content
		
include ../modules/footer/footer	
block script
	script(src="../static/js/main.js")

	


	
  
